body {
  width: 1080px;
  background: black;
  // font-size: 2em;
  font-size: 1rem;
  border: 1px dashed #ffffff;
  color: white;
}
body,
button,
input,
select,
textarea {
  color: #fff;
  font-family: Exo Web, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.page {
  margin: 0 auto;
  max-width: 1080px;
  padding: 2.5%;
  width: 100%;
}

.site-content {
  margin: 4.5rem 175px 1.5rem;
  position: relative;
  .about {
    font-size: 28px;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  p {
    margin: 5px;
    margin-bottom: 1.5rem;
  }
}

.site-content::before {
  content: '\f10d';
  left: -175px;
}

.site-content::after {
  content: '\f10e';
  right: -125px;
  // width: 100%;
}

.site-content::after,
.site-content::before {
  color: #0c0;
  font-family: FontAwesome;
  font-size: 125px;
  line-height: 125px;
  position: absolute;
  top: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.my-content {
  margin: 0 auto;
  max-width: 1080px;
  padding: 2.5%;
  width: 100%;
  p {
    font-size: 2.5rem;
  }
}

.title {
  span {
    margin-left: 20px;
  }
  h2 {
    display: inline;
    font-size: 1.25rem;
    font-weight: 400;
  }
}

button {
  background-color: #222;
  border: 2px solid #0c0;
  border-radius: 3px;
  color: #0c0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.75rem 2.25rem;
  cursor: pointer;
  margin-left: 40%;
}
